/******RESET PAGE*****/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font: 62.5% arial, sans-serif;
	color: #323232;
	background: #ddd;
}
img {
	max-width: 100%;
}
h1, h2, h3 {
	color: #e04823;
}
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2.5rem;
}
h3 {
	font-size: 2rem;
}
body {
	font-size: 1.2rem;
}
a {
	color: #e25e1c;
	transition: color ease-in .2s;
}
a:hover {
	color: #e04823;
}



/***********/

#navigation {
	width: 10%;
    height: 100%;
    position: fixed;
    background: lightgrey;
}

.wrapper {
   display: flex;
   width: 600%;
}

.module {
	
    width: 20%;
    height: 970px;
}

#presentation {

    background-color: red;
}

#carte {

    background-color: blue;
}

#bar_list {
    background-color: yellow;
}

#bar_add {
    background-color: green;
}

#message {
    background-color: orange;
}

#users {
    background-color: purple;
}