/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*                          RESET PAGE                         */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font: 62.5% arial, sans-serif;
	color: #323232;
	/*background: #ddd;*/

}
img {
	max-width: 100%;
}
h1, h2, h3 {
	color: #fff;
}
h1 {
	text-transform: uppercase;
	margin-top: 2%;
 	color: #D82142;
 	font-family: Georgia,"Times New Roman",Times,serif;
 	font-size: 3vw;
 	font-weight: normal;
 	line-height: 4.8rem;
 	text-shadow: 1px 1px 2px #082b34;
 	text-align: center;

}
h2 {
	font-size: 1.5rem;
	color: #D82142;
}
h3 {
	font-size: 1.5rem;
}
body {
	font-size: 1.2rem;
}
a {
	color: #004a4a;
	transition: color ease-in .2s;
}
a:hover {
	color: #e04823;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*                            NAVBAR                           */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.navbar-toggle {
	background-color: #D82142;
}
.navbar-brand:focus:hover {
	color: #D82142 !important;
}
.navbar-brand:hover {
	color: #D82142 !important;
}
.nav_top {
	background: #fff;
	font-family: 'Times New Roman', sans-serif;
}

.navigation {
	border-radius: 0 0 120% 0;
	border:3px solid white;
	width: 10%;
    height: 100%;
    position: fixed;
    background: #FB444D;
}

.wrapper {

/*	height: 880px;*/
	background-color: #fff;
}
.contenu {
	margin-left: 10%;
	width: 80%;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*                         PRESENTATION                        */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.titlePres {
	text-align: center;
	font-family: "Comfortaa",cursive;
    font-size: 5rem;
    color:#f8f8f8;
    margin-top: 15%;
 

    border: 12px solid rgba(255, 255, 255, 0.6);

    


    padding: 20px 0;
}

.header {
	margin: 0 auto;
    display: table;
    height: 600px;
    width: 100%;
    background: url(../img/bordeaux-2.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.presentation {
	text-align: center;
	font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 300;
	font-size: 2.3rem;
	color:#f8f8f8;

}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*                        LISTE DES BARS                       */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#bar_list {

}

.divGlobalListBar {
	width: 100%;
	height: 50%;
	margin: 5px;
}

.divListBar {
	border: 3px solid #D82142;
	border-radius: 40px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 40px;
}

.nameListBar {
	background: radial-gradient(circle, #D82142, white, white);
	color: white;
	font-size: 2rem;
}

.contentListBar {
	width: 92%;
	height: 92%;
	margin: 4%;
}

.imgListBar {
	max-width: 230px;
	max-height: 150px;
	width: 92%;
	height: 92%;
	margin: 4%;
	border: 2px solid #D82142;
	border-radius: 20px;
}

.btnListBar {
	margin: 10px;
	padding: 4px 25px 2px 25px;
	background: #D82142;
	color: white;
	border-radius: 100px 100px 0px 0px;
	cursor: pointer;
	text-decoration: none;
}

.btnListBar:hover {
	background: white;
	color: #D82142;
	text-decoration: none;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*                       AJOUTER DES BARS                      */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#bar_add {

}

.carte {
	background: red;
}

.map {
	background: blue;
	width: 100%;
	height: 80%;
	margin-top: 10%;
	margin-bottom: 10%;
}

.champTxtAddBar {
	background: #FFEBD8;
	color: #004a4a;
	border: 2px solid #E1B66B;
}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
	background: #FFEBD8;
	color: #004a4a;
	border: 2px solid #E1B66B;
}

.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
	background: #FFEBD8;
	color: #004a4a;
}

.input-group-btn:last-child > .btn:hover,
.input-group-btn:last-child > .btn-group:hover {
	background: #004a4a;
	color: #FFEBD8;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*                      CONTACT / MESSAGE                      */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#message {

}
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #FFF5F4;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*                         UTILISATEURS                        */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.wrapperList {
	width: 11%;
	margin: 5px;
	border: 3px solid #D82142;
	border-radius: 40px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 40px;
}

.lustUsers {
	width: 100%;
	margin: 5px;
	border: 3px solid #D82142;
	border-radius: 40px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 40px;
}

.nameUsersBar {
	background: radial-gradient(circle, #D82142, white, white);
	color: white;
	font-size: 2rem;
}

.contentListBar {
	width: 92%;
	height: 92%;
	margin: 4%;
}

.imgUsersBar {
	max-width: 50px;
	max-height: 350px;
	width: 92%;
	height: 92%;
	margin: 4%;
	border: 2px solid #D82142;
	border-radius: 20px;
}

.btnUsersBar {
	margin: 10px;
	padding: 4px 25px 2px 25px;
	background: #D82142;
	color: white;
	border-radius: 100px 100px 0px 0px;
	cursor: pointer;
	text-decoration: none;
}

.btnUsersBar:hover {
	background: white;
	color: #D82142;
	text-decoration: none;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*                          NEWSLETTER                         */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#news_letter {

}


/****** Bouton **********/
.pam {
	margin-top: 40%;
}

.divButton {
	margin-top: 15%;

}
.divButton a {
	text-decoration: none;

}



/*****Bouton retour site*****/

.boutonRetourSite {
    background: white !important;
    color: #A22121 !important;
    padding: 10px 20px 10px 20px;
    margin: 5px 0px 5px 20px;
    border-radius: 20px 20px 0px 0px;
    border: 2px solid #A22121;
}

.boutonRetourSite:hover {
	background: #A22121 !important;
    color: white !important;
    border: 2px solid white;
}

.boutonModifPresentationBar {
	border: 1px solid transparent;
}

.boutonModifPresentationBar:hover {
	border: 1px solid #004a4a !important;
	box-shadow: 1px 5px 10px;
}

.boutonBarAdd {
	background: #FFEBD8;
	color: #004a4a;
	border: 1px solid #004a4a;
	margin-right: 10px;
}

.boutonBarAdd:hover {
	background: #004a4a;
	color: #FFEBD8;
	border: 1px solid #004a4a;
	box-shadow: 3px 3px 1px;
}.boutonRetourSite {
    background: white !important;
    color: #A22121 !important;
    padding: 10px 20px 10px 20px;
    margin: 5px 0px 5px 20px;
    border-radius: 20px 20px 0px 0px;
    border: 2px solid #A22121;
}

.boutonRetourSite:hover {
	background: #A22121 !important;
    color: white !important;
    border: 2px solid white;
}


/*****Bouton modif presentation*****/
.boutonModifPresentationBar {
	border: 1px solid transparent;
}

.boutonModifPresentationBar:hover {
	border: 1px solid #004a4a !important;
	box-shadow: 1px 5px 10px;
}

/*****Carte*****/
.carte {
	width: 500px;
	height: 500px;
	background: red;
	position: relative;
	overflow: hidden;
}

.bar {
	background: ;
	width: 50px;
	height: 50px;
	position: absolute;
	background: green;
}

/****Bouton navbar*****/

.button-fill {
	width: 150px;
  text-align: center;
  background: #ccc;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
 /* margin: 25px;*/
}
.button-fill.grey {
  background: #D82142;
  color: white;
}
.button-text {
  padding: 0 25px;
  line-height: 56px;
  letter-spacing: .1em;
}
/*@media(min-width: 768px){
	.button-fill {
		width: 750px;
	}
}*/
@media(max-width:768px) {
	.button-fill {
		width: 80vw;
		text-align: left;
	}
	.button-text {
		font-size: 15px;
		/*padding: 0 55px;*/
		text-align: center;
	}
	.button-inside {
		height: 4px;
		line-height: 16px;
	}
}

.button-inside {
  width: 0px;
  height: 54px;
  margin: 0;
  float: left;
  position: absolute;
  top: 1px;
  left: 50%;
  line-height: 54px;
  color: #445561;
  background: #fff;
 
  overflow: hidden;
  -webkit-transition: width 0.5s, left 0.5s, margin 0.5s;
  -moz-transition: width 0.5s, left 0.5s, margin 0.5s;
  -o-transition: width 0.5s, left 0.5s, margin 0.5s;
  transition: width 0.5s, left 0.5s, margin 0.5s;
}
.button-inside.full {
  width: 100%;
  left: 0%;
  top: 0;
  margin-right: -50px;
  border: 1px solid #445561;
}
.inside-text {
  
  position: absolute;
  right: 50%;
  letter-spacing: .1em;
  text-transform: uppercase;
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}
@media(max-width:768px) {
	.inside-text {
		font-size: 15px;
	}

}
.side-nav li a:hover, .side-nav li a:focus {
    background-color: transparent !important;
  
}