
/****************
**STYLE PERSO**
****************/
body{
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    color: black;
    font-size: 18px;
    text-align: center;
}

.text-vertical-center h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 5em;
    color:#f8f8f8;
    margin: 0 15% 0 15%;
    padding: 20px 0 20px 0;
    border: 12px solid rgba(255, 255, 255, 0.6);
    padding: 20px 0 20px 0;
}

a{
    text-decoration: none;
    color :#c14e5f;
}

h2{
	font-family: 'Nunito', sans-serif;
	color:#2b8c9d;
	text-align: center;
    padding-bottom: 20px;
    font-size: 45px;
}
h3{
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	color:#f8f8f8;
    margin :30px;
    padding: 20px 0 20px 0;
}

.help-block{
    font-size: 14px;
    text-align: left;
}

.alert{
    text-align: left;
}

.btn-primary {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    float: right;
}
.btn-primary:hover{
    background-color: #c14e5f;
    border-color: #025d70;
    color: white;
    transition: all 0.23s ease-in-out 0s;
}
.btn-default{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin-bottom: 10px;
}
.btn-default:hover{
     background-color: #c14e5f;
    border-color: #025d70;
    color: white;
    transition: all 0.23s ease-in-out 0s;
}
#mc_embed_signup .button{
    color: #333 !important;
    background-color: #fff !important;
    border-color: #ccc !important;
}
#mc_embed_signup .button:hover{
    background-color: #c14e5f !important;
    border-color: #025d70 !important;
    color: white !important;
}


/***************************************
*************NAVIGATION*****************
****************************************/
@media screen and (max-width: 760px) {
    #logo {
        display: none;
    }
    .navbar-obar{
        display: block;
    }
}
.navbar-default .navbar-collapse .navbar-default .navbar-form::before{
    background-color:  #025d70;
    opacity: 0.9;
    -webkit-transition: background .5s ease-in-out, opacity .5s ease;
    -moz-transition: background .5s ease-in-out, opacity .5s ease;
    transition: background .5s ease-in-out, opacity .5s ease;
}
ul .nav .navbar-nav .navbar-right>a{
    text-align: right;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background-color: #c14e5f;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background-color: #c14e5f;
    color: white;
}
#custom-nav {
    background-color: rgba(0,0,0,0);
    border: 0;
    box-shadow: none;
    z-index: 999;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: background .5s ease-in-out, opacity .5s ease;
    -moz-transition: background .5s ease-in-out, opacity .5s ease;
    transition: background .5s ease-in-out, opacity .5s ease;
}
#custom-nav .dropdown-menu {
    border-radius: 0;
    border: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-top: 0;
}
#custom-nav .container {
    -webkit-transition: padding-top .5s ease, padding-bottom .5s ease;
    -moz-transition: padding-top .5s ease, padding-bottom .5s ease;
    transition: padding-top .5s ease, padding-top .5s ease, padding-bottom .5s ease;
}
#custom-nav.affix {
    top: 0;
    min-width: 100%;
    background-color: #025d70;
    opacity: 0.9;
    -webkit-transition: background .5s ease-in-out, opacity .5s ease;
    -moz-transition: background .5s ease-in-out, opacity .5s ease;
    transition: background .5s ease-in-out, opacity .5s ease;
}

/*for mobile @media screen*/
@media screen and (max-width: 767px){
    #wrapwrap {
        padding-top: 50px;
    }
    .navbar-fixed-top {
        z-index: 999;
    }
}
.navbar-default .navbar-nav>li>a {
    color:#f5f5f5;
    font-family: 'Comfortaa', cursive;
    font-size: 17px;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #c14e5f;
    font-weight: 700;
    font-size: 17px;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #f8f8f8;
    white-space: nowrap;
    background-color:#025d70;
    font-family: 'Comfortaa', cursive;
}


/*******************************
*************HEADER*************
*******************************/
.header{
	height: 70%;
    padding-top: 60px;
}
.header p{
    color: white;
    font-size: 18px;
}


/****************************************
*******SECTION NEWS BARS*********
****************************************/
.service-item{
    display: inline-block !important;
}

.services{
    padding: 50px 0;
    background-color: #7fbac4;
}
.services.bg-primary h2{
    color: #c14e5f !important;
    text-transform: uppercase;
}

.carousel-indicators {
    bottom: -35px;
}
.pad {
    padding-left: 0px !important;
    padding-right: 0px !important;
}


/****************************************
*************SECTION PROFIL USER*********
****************************************/
.users_profil{
    padding: 50px 0;
}


/****************************************
*************SECTION MAP*************
****************************************/
.map{
    padding: 50px 0;
    height: auto !important;
    /*min-height: 80%;*/
}
.btQuartier{
    font-size: 1rem !important;
}


/****************************************
*************SECTION CONTACT*************
****************************************/
.contact{
    padding: 50px 0;
}


/****************************************
*********SECTION INSCRIPTION*************
****************************************/
.subs {
    padding: 50px 0;
    background-color: #7fbac4;
}
.subs h2{
    color: white;
}
.subs p{
    color: white;
}


/*********************
********PROFIL********
**********************/
.userStyle img{
    border: 7px solid #cc2f42;
}

.centree {
    margin: 0 auto;
}

.service-item {
    margin-bottom: 30px;
}


/********************/
/*****PROFIL BAR*****/
/********************/
@media screen and (max-width: 767px){
    .btBarHover{
    background: white;
    border-radius: 5px;
    font-size: 13px;
}
.btBarHover:hover{

    border-radius: 5px;
    background: #c14e5f;
    padding: 1px 2px;
    color : white;
}
}
.btBar {
    position: absolute;
    left: 15%;
    top: 35%;
}
.btBar:active{
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset
}
.btBarHover{
    background: white;
    border-radius: 5px;
}
.btBarHover:hover{

    border-radius: 5px;
    background: #c14e5f;
    padding: 1px 2px;
    color : white;
}
.btBar a{
    text-transform: uppercase;
    font-size: 2rem;
    color: #c14e5f;
    text-decoration: none;
}
.section-heading{
    font-family: 'Nunito', sans-serif;
}
h2.section-heading{
    color: white;
    font-size: 30px;
}
#toggle{
    left: 0;
    width: 100%;
    position: absolute;
    border-radius: 5px;
    height:auto; 
    background:#7fbac4; 
    border:2px solid #c14e5f; 
    color: white; 
    text-align:center
}
#barToggle img {
    max-width: 60%;
    max-height: 60%;
}
#toggle p{

    text-align:center;
    padding:0;
}
.closeToggle{
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    position: absolute;
    right: 3px;
    top: 3px;
    padding: 5px 10px;
    border-radius: 50%;
    border:1px solid #c14e5f; 
}
.closeToggle:hover{
    background:lightgrey;
     border:1px solid #c14e5f; 
}
.closeToggle a{
     color: #6D071A;
    font-weight: 700;
    text-decoration: none;
}
.barStyle img{
    margin-top: 5%;
    margin-bottom: 5%;
    border: 7px solid rgba(255,255,255,.15);
    width: 100%;
}
.centree {
    margin: 0 auto;
    
}
.centree img{
    width: 100% !important;
}

/*****Info Bar*****/
@media screen and (max-width: 767px){

}
.titleInfBar {
    font-size: 1.6rem;
    line-height: 1.4;
    font-weight: 700;
}
.infoBar {
    border-radius: 5px;
    font-style: italic;
    font-size: 1.5rem;
    color: white;
    font-weight: 400;
    line-height: 1.7;
}

#barToggle img {
    max-width: 60%;
    max-height: 60%;
}
/*****Formulaire*****/
.form-style-8{
    font-family: 'Open Sans Condensed', arial, sans;
    width: 100%;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}
.form-style-8 h2{
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: lightgrey;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
   /* padding: 7px;*/
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}
.form-style-8 input[type="button"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.form-style-8 input[type="button"]:hover,
.form-style-8 input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}


/****************************************
*********FOOTER*************
****************************************/
footer{
    padding: 10px 0;
    background-color: #025d70;
    color: #ffffff;
    font-size: 14px;
}
.fa{
    padding-right: 10px;
}
footer a{
    color: white;
}
footer a:hover{
    color: #C14E5F;
}

/****************************************
*********PAGE 404*************
****************************************/

.div404 {
    background: darkgrey;
    width: 100%;
    height: 100%;
    margin-top: -20px;
}

.titre404 {
    color: white;
}